body {
	margin:0;
	padding:0;
	font-family:Arial, sans-serif;
	font-size:14px;
	text-align:center;
	min-height:170px;
}
#msg {
	width: 420px;
}
#send {
	width:80px;
}
#set_username {
	width:80px;
}
#usrid {
	width:347px;
}
input.invalid{
	border:1px solid red !important;
}
input{
	outline:none;
	border:1px solid #bbb;
	padding:2px;
}
input:focus{
	border:1px solid #000;
}
.chats {
	margin:0;
	width:500px;
	vertical-align:bottom;
	display:table-cell;
	padding-bottom:45px;
}
.chats > p {
	padding:10px;
	width:fit-content;
	margin:0;
	max-width:400px;
}
.to_chat {
	float:right;
	display:inline;
	border:1px solid #000;
	color:#fff;
	background:#000;
	text-align:right;
	border-radius:15px 15px 0 15px;
}
.from_chat {
	float:left;
	display:inline;
	border:1px solid #eee;
	color:#000;
	background:#eee;
	text-align:left;
	border-radius:15px 15px 15px 0;

}
br {
	line-height:40px;	
}
br:first-child{
	line-height:5px;
}
.chat_cont {
	position:fixed;
	max-height:calc(100% - 41px);
	overflow-y:overlay;
    bottom:0;
    width:100%;
}
.banner {
	padding:10px 0px 10px 0px;
	background:#eee;
	width:100%;
}
.footer {
	position:fixed;
	bottom:0;
}