@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	display: none;
}
.navbar {
	float: left;
	width: 107px;
	position: fixed;
	padding: 60px;
}
.navbar img {
	display: none;
}
.content {
	float: right;
	width: calc(100% - 227px);
	text-align: center;
}
.content-container {
	display: inline-block;
	text-align: left;
}
h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	line-height: 1.1em;
	color: #414141;
	font-size: 28px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: normal;
}
h2 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
	font-weight: normal;
	color: #414141;
}
p {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
	color: #414141;
	font-weight: 300;
}
button {
	padding: 10px 30px 10px 30px;
	background: #0d5eba;
	outline: none;
	color: #fff;
	border: none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
}
button:hover{
	opacity: .5;
	cursor: pointer;
}
li {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
	color: #414141;
	font-weight: 300;
}
.navbar a {
	text-decoration: none;
}
.navbar a:hover {
	text-decoration: none;
}
.navbar ul {
	padding: 0;
	line-height: 33px;
	margin-top: 80px;
}
.navbar li {
	list-style: none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
}
.navbar li > a {
	color: #414141;
}
.navbar li > a:hover {
	color: #000;
}
.sidebar {
	display: none;
}
.overlay {
	display: none;
}
.footer {
	width: calc(100% - 227px);
	float: right;
	height: 50px;
	display: inline-block;
	text-align: center;
	margin-top: 5px;
}
.footer-content {
	width: 900px;
	border-top: 1px solid #d6d6d4;
	text-align: left;
	display: inline-block;
}
.footer-content p {
	float: left;
	margin: 10px;
}
.footer-content a {
	float: right;
	margin: 10px;
}
.seperator {
	height: 1px;
	background: #636363;
	margin: 10px 0;
}

.content-container svg {
	margin-right: 20px;
}
.content-container a {
	color: #414141;
}
label {
	display: block;
	color: #414141;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 14px;
	font-style: italic;
	margin-bottom: 10px;
	margin-top: 10px;
}
input {
	padding: 5px 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 300;
	font-size: 14px;
	border: 1px solid #414141;
	border-radius: none;
	width: 630px;
}
input:hover {
	background: #d6d6d44d;
}
input:focus {
	border: 1px solid #414141;
	outline: none;
}
textarea {
	padding: 5px 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 300;
	font-size: 14px;
	border: 1px solid #414141;
	border-radius: none;
	width: 630px;
	max-width: 630px;
	min-height: 100px;
}
textarea:hover {
	background: #d6d6d44d;
}
textarea:focus {
	border: 1px solid #414141;
	outline: none;
}
.simple-btn {
	background: none;
	padding: 10px 0px 10px 10px;
	color: #414141;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 300;
	font-size: 14px;
}
.disabled:hover {
	cursor: not-allowed;
}
@media only screen and (max-width: 768px) {
	.navbar {
		width: calc(100% - 10vw);
		float: none;
		padding: 5vw;
		height: 13vw;
		position: relative;
	}
	.navbar ul {
		display: none;
	}
	.navbar h1 {
		margin: 0;
		float: left;
		font-size: 6vw;
	}
	.navbar img {
		float: right;
		display: block;
		margin-top: 15px;
		width: 9.5vw;
	}
	.navbar img:hover {
		cursor: pointer;
	}
	.sidebar {
		display: block;
		float: right;
		top: 0;
		right: -1000px;
		position: fixed;
		background: #fff;
		width: calc(80% - 10vw);
		height: calc(100% - 10vw);
		padding: 5vw;
		transition:0.4s ease;
		z-index: 1;
	}
	.sidebar ul {
		margin-top: 30%;
		list-style: none;
	}
	.sidebar li {
		font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
		font-size: 4vw;
		margin-bottom: 7vw;
	}
	.sidebar li > a {
		color: #414141;
		text-decoration: none;
	}
	.sidebar img {
		width: 7.3vw;
		float: right;
		margin-top: 3vw;
	}
	.sidebar img:hover {
		cursor: pointer;
	}
	.overlay {
		opacity: 50%;
		background: #414141;
		width: 100%;
		height: 100%;
		float: left;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
	}
	h1 {
		font-size: 6vw;
	}
	p {
		font-size: 4vw;
	}
	h2 {
		font-size: 4vw;
	}
	li {
		font-size: 4vw;
	}
	button {
		font-size: 4vw;
		padding: 3vw 10vw;
	}
	label {
		font-size: 4vw;
		margin: 4vw 0vw;
	}
	input {
		padding: 2.5vw 4vw;
		font-size: 4vw;
		width: calc(100% - 10vw);
	}
	textarea {
		padding: 2.5vw 4vw;
		font-size: 4vw;
		width: calc(100% - 9vw);
		max-width: calc(100% - 9vw);
		min-height: 50vw;
	}
	.simple-btn {
		padding: 5vw 0vw 5vw 5vw;
		font-size: 4vw;
	}
	#phone-icon {
		margin-left: 170px !important;
	}
	.content {
		width: calc(100% - 10vw);
		float: none;
		padding: 0vw 5vw;
	}
	.content-container {
		width: 100% !important;
	}
	.content-container img {
		width: 100%;
	}
	.seperator {
		width: 100% !important;
	}
	#art-work {
		width: 100%;
	}
	.footer {
		float: none;
		width: 100%;
	}
	.footer-content {
		width: 90%;
	}
	.footer-content img {
		width: 5vw;
	}
}