body {
	margin:0;
	padding:0;
	background:#00716C;
}
.menu {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	transition:all .5s;
}
.menu li {
	width:20%;
	height:100vh;
	background:#eee;
	display:inline-block;
	text-align:center;
	font: bold 60px 'bebas_neuebold', sans-serif;
	margin-right:-4px;
	line-height:100vh;
	transition:all .5s;
}
.not_open:hover {
	background:#222 !important;
	color:#fff !important;
	width:30% !important;
	cursor:pointer;
}
.current_page:hover {
	width:100%;
	cursor:default;
}
.menu a {
	color:#000;
	text-decoration:none;
}
.menu a:focus {
	color:#000;
}
.menu a:active {
	color:#000;
}
.pages {
	transition:all .5s;
	display:none;
}
.art_page {
	background:#58C8B7;
	transition:all .5s;
}
.apps_page {
	background:#D7FEC7;
	transition:all .5s;
}
.aurum_page {
	background:#FF7A6B;
	transition:all .5s;
}
.about_page {
	background:#FFFFE7;
	transition:all .5s;
}
.contact_page {
	background:#00716C;
	transition:all .5s;
}
.back {
	float:left;
	width:100px !important;
	height:100px !important;
	line-height:100px !important;
}
.back:hover {
	background:#222 !important;
	color:#fff;
	cursor:pointer;
	transition:all .5s;
}